* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
}

#gameCanvas {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #e8f4f8;
  background-image: linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 40px 40px;
  z-index: 1;
}

#chatBox {
  position: fixed;
  right: 30px;
  top: 30px;
  /*transform: translateY(-50%);*/
  width: 260px;
  height: calc(100vh - 50px);
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 5px 5px;
  z-index: 1;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
}

#chatHistory {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding: 15px;
  gap: 10px;
  height: 100%;
}

#chatHistory div {
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 12px;
  border-radius: 12px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  word-break: break-word;
  align-self: flex-start;
}

#chatHistory div.own-message {
  align-self: flex-end;
  background: #dcf8c6;
}

#chatInput {
  margin: 15px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

#chatInput:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

#chatInput::placeholder {
  color: #888;
}
